<section class="bg-white dark:bg-gray-900">
  <div class="items-center mx-auto max-w-screen-xl md:grid p-6 bg-white rounded-lg border border-gray-200 shadow-md">
    <img class="w-full" src="{{petAds.image}}">
    <br>
    <div class="mt-4 md:mt-0">
      <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{petAds.name}}
        ({{petAds.breed}})</h1>
      <p>{{petAds.description}}</p>
      <br>
      <p><strong>Age:</strong> {{petAds.age}}</p>
      <p><strong>Microchip Number:</strong> {{petAds.microchip_number}}</p>
      <p><strong>Price:</strong> $ {{petAds.price}}</p>
      <br>
      <h3 class="mb-4 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white">Seller Details</h3>
      <a href="/profile/{{petAds.user.id}}" class="text-orange-500 font-bold text-lg underline">{{petAds.user.first_name}} {{petAds.user.last_name}}</a>
      <p>{{petAds.user.email}}</p>
      <p>{{petAds.user.phone_number}}</p>
      <br>
      <p class="mb-6 text-gray-500 md:text-lg">Ads Created: {{petAds.date_created}}</p>
    </div>
  </div>
</section>