<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white">

  <div class="grid grid-rows-3 grid-flow-col gap-4">

    <div class="row-start-1 col-span-2">
      <p>Pet Description</p>
      <p>{{PetAds.description}}</p>
    </div>
    </a>

    <div class="col-span-2">
      <p>Breeder's Contact Details</p>
      <p>{{user.first_name}}</p>
      <p>{{user.last_name}}</p>
      <p>{{user.email}}</p>
      <p>{{user.phone_number}}</p>
    </div>
    </a>

    <div class="row-span-2 col-span-4">
      <!-- <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-03.jpg" -->
      {{> singleAdPage.handlebars}} -->
    </div>
    </a>

    <!-- More products... -->
  </div>
</div>